body{
  background-image: url('images/relay-race-655353__340.jpg');
  background-attachment: fixed;
  background-size: cover;
}

header{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: helvetica;
  position: relative;
  z-index: 2;
}
p{
  color: rgba(42, 43, 44, 100);
  margin-top: auto;
  margin-left: 32%;
  margin-right: 32%;
  text-align: center;
  font-family: helvetica;
  position: relative;
  z-index: 3;
}
.svgelem {
   margin-left: 29%;
   margin-right: auto;
   display: block;
   position: absolute;
   z-index: 1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(230, 230, 230, 100);
  text-decoration: none;
}
li{
  float: left;
}
a{
  display: block;
  padding: 8px;
}
li a:hover{
  background-color: rgba(255, 42, 42, 100);
}
.active{
  background-color: rgba(0, 0, 255, 100);
}
